<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">

    <script type="text/javascript">
      function do_submit() {
        var req = new XMLHttpRequest();
        var result = document.getElementById('result');
        req.onreadystatechange = function()
        {
          if(this.readyState == 4 && this.status == 200) {
            var res = this.responseText
            res = res.replace(/\.0\]/g, "]");
            var dataArray = JSON.parse(res);
            dataArray = dataArray[0]
            var outputRow = document.getElementById('output-row');

            dataArray.forEach(function(item, index) {

              outputRow.cells[index].textContent = item

            });

            result.innerHTML = "";
          } else {
            result.innerHTML = "waiting...";
          }
        }

        req.open('POST', '/', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("date=" + document.getElementById('date').value);
      }
    </script>

</head>
<body>
    <div class="container">
        <h1>Welcome to BitSmart!</h1>
        <form>
        <label for="date">Model inut date:</label>
        <input type="date" id="date" name="date">
      <button type="button" id="btn-post" onclick="do_submit();">predict!</button>
    </form>
    </div>
    <div class="container">
        <h1>Model prediction</h1>
        <div id="result"></div>
        <table id="data-table" class="data-table">
        <thead>
            <tr>
                <th class="data-table-th">output1</th>
                <th class="data-table-th">output2</th>
                <th class="data-table-th">output3</th>
                <th class="data-table-th">output4</th>
                <th class="data-table-th">output5</th>
            </tr>
        </thead>
        <tbody id="data-body">
            <tr id="output-row">
                <td class="data-table-td">-</td>
                <td class="data-table-td">-</td>
                <td class="data-table-td">-</td>
                <td class="data-table-td">-</td>
                <td class="data-table-td">-</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="container">
        <h1>Swing trade strategy</h1>
    </div>

</body>
</html>
