<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Homepage</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">

    <script type="text/javascript">
      function do_submit() {
        var req = new XMLHttpRequest();
        var result = document.getElementById('result');

        req.onreadystatechange = function()
        {
          if(this.readyState == 4 && this.status == 200) {
            var list = JSON.parse(req.responseText);
            var pred_list = list['pred_list'];
            var buy_date = list['buy_date'];
            var sell_date = list['sell_date'];
            var highest = list['highest'];
            var lowest = list['lowest'];
            var open_average = list['open_average'];

            document.getElementById('highest').innerText = highest;
            document.getElementById('lowest').innerText = lowest;
            document.getElementById('open_average').innerText = open_average;


            document.getElementById('buy_date').innerText = buy_date;
            document.getElementById('sell_date').innerText = sell_date;

            var buy = document.getElementById('buy_date');
            var sell = document.getElementById('sell_date');



            var table = document.getElementById('data-table');

            if (!table.rows[0]){
              var header_row = table.createTHead().insertRow();
              header = ['Open', 'High', 'Low', 'Close', 'Volume']
              header.forEach(function(element) {
                var headerCell = document.createElement('th');
                headerCell.textContent = element;
                headerCell.classList.add('data-table-th');
                header_row.appendChild(headerCell)
              });
            }


            pred_list.forEach(function(pred, index) {
              var row
              if (table.rows[index+1])
                row = table.rows[index+1];
              else
                row = table.insertRow();

              pred.forEach(function(entry, index) {
                  var cell
                  if (row.cells[index])
                    cell = row.cells[index];
                  else{
                    cell = row.insertCell();
                    cell.classList.add('data-table-th');
                  }
                  cell.textContent = entry;
              });
              console.log(pred);
            });

            result.innerHTML = "";
          } else {
            result.innerHTML = "waiting...";
          }
        }

        req.open('POST', '/', true);
        req.setRequestHeader('content-type', 'application/x-www-form-urlencoded;charset=UTF-8');
        req.send("date=" + document.getElementById('date').value);
      }
    </script>

</head>
<body>
    <div class="container">
        <h1>Welcome to BitSmart!</h1>
        <form>
        <label for="date">Model inut date:</label>
        <input type="date" id="date" name="date">
      <button type="button" id="btn-post" onclick="do_submit();">predict!</button>
    </form>
    </div>
    <div class="container">
        <h1>Model prediction</h1>
        <div id="result"></div>
        <table id="data-table" class="data-table">
        <thead>
        </thead>
        <tbody id="data-body">
        </tbody>
    </table>
    <p>highest in the next 7 days: <span id="highest"> {{highest}}</span> </p>
    <p>lowest in the next 7 days: <span id="lowest"> {{lowest}}</span> </p>
    <p>average open of the next 7 days: : <span id="open_average"> {{open_average}}</span> </p>
    </div>

    <div class="container">
        <h1>Swing trade strategy</h1>
        <p>Buy Date: <span id="buy_date"> {{buy_date}}</span> </p>
        <p>Sell Date: <span id ="sell_date">{{ sell_date }}</span></p>
    </div>

</body>
</html>
